<div class="pipeline">
  <h3>To edit</h3>
  @for (group of toEditByAlbum; track group.album) {
    <div class="album-group">
      <p>{{ group.album }}</p>
      @for (photo of group.photos; track photo.id) {
        <div class="photo-list-item">
          <div>
            <div class="photo-name">{{ photo.name }}.RAW</div>
            <div class="photo-meta">{{ photo.taken }}</div>
          </div>
          @if (photo.starred) {
            <span class="photo-star">★</span>
          }
        </div>
      }
    </div>
  }

  <h3>To print</h3>
  @for (group of toPrintByAlbum; track group.album) {
    <div class="album-group">
      <p>{{ group.album }}</p>
      @for (photo of group.photos; track photo.id) {
        <div class="photo-list-item">
          <div>
            <div class="photo-name">{{ photo.name }}.RAW</div>
            <div class="photo-meta">{{ photo.taken }}</div>
          </div>
          @if (photo.starred) {
            <span class="photo-star">★</span>
          }
        </div>
      }
    </div>
  }
</div>
