@if (!editDone) {
  <div class="edit-queue">
    @for (photo of queue; track photo.id) {
      <div class="edit-item">
        <div class="edit-thumb">
          @if (imageUrls.get(photo.id); as url) {
            <img class="edit-img" [src]="url" alt="" draggable="false" />
          } @else if (photo.scene; as scene) {
            <app-scene [scene]="scene" />
          }
        </div>
        <div class="edit-text">
          <span class="item-name">{{ photo.name }}{{ photo.ext ? '.' + photo.ext : '' }}</span>
          <span class="item-album">{{ photo.album || 'No album' }}</span>
        </div>
        <a class="open-lr" [href]="lightroomUrl(photo)" target="_blank" rel="noopener">
          Open in Lightroom
        </a>
      </div>
    }
  </div>
} @else {
  <div class="edit-done">
    <h2>Edit queue clear.</h2>
  </div>
}
